# Dependency directories
/node_modules

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compiled output
/build
/dist

# Dependency directories (from other frontend libraries)
/bootstrap
/other_frontend_library_name

# IDE files
/.idea
/.vscode

# Compiled output of create-react-app
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
/.vscode
/.idea
/.idea/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
