.product-image-container {
  width: 100%;
  padding-top: 100%; /* This creates a square container based on width */
  position: relative;
  overflow: hidden;
}

.product-image {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
